output
buildroot-*
buildroot*.tar.*
*-arm
presentation/*
!presentation/content.tex
!presentation/pres.tex
!presentation/pres-ann.tex
!presentation/pres.pdf
!presentation/pres-ann.pdf
!presentation/Makefile
!presentation/*.png
